@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@


@if (User.Identity.IsAuthenticated)
{
    <a class="nav-link" href="/User/Logout">@User.Identity.Name (IP: @Context.Request.HttpContext.Connection.RemoteIpAddress.MapToIPv4().ToString())</a>
}
else
{
    <a class="nav-link" href="/User/Login">Đăng nhập</a>
}