@{
    ViewData["Title"] = "500 - Error";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                </div>
                <div class="col-sm-6">
                </div>
            </div>
        </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">
        <div class="error-page">
            <h2 class="headline text-danger">500</h2>

            <div class="error-content">
                <h3><i class="fas fa-exclamation-triangle text-danger"></i> Lỗi! Sự cố không mong muốn.</h3>                   
                <p>
                    Chúng tôi sẽ khắc phục trong thời gian sớm nhất.
                    <a href="@Url.Action("Index","Home")">Bấm vào đây để trở về trang chủ</a>
                </p>
            </div>
        </div>
        <br />
        

        <!-- /.error-page -->

    </section>
    <!-- /.content -->
    <section class="content-footer">
        <p>
            <br />
            <br />
            <br />
            <br />
            <br />
            <br />
            @ViewBag.ExceptionPath <br />
            @ViewBag.ExceptionMessage <br />
            @ViewBag.StackTrace <br />
        </p>
        </section>
</div>
<!-- /.content-wrapper -->
