@model WebTools.Models.ReportListViewModel
@{
    //Layout = null;
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#sendMail">
    Launch demo modal
</button>

<div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="sendMail" aria-hidden="true" id="sendMail">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title"><i class="fas fa-grip-vertical"></i> Gửi Mail</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true" style="color:white">&times;&nbsp;</span>
                </button>
            </div>
            <div class="modal-body">
                <form method="post" enctype="multipart/form-data" asp-area="" asp-controller="Mail" asp-action="SendMail" id="mailForm" name="mailForm">
                    <div class="form-group">
                        <input class="form-control" name="ToEmail" id="ToEmail" placeholder="Gửi tới ai?">
                    </div>
                    <div class="form-group">
                        <input class="form-control" name="Subject" id="Subject" placeholder="Tiêu đề Mail">
                    </div>
                    <div class="form-group">
                        <textarea class="form-control" name="Body" id="Body" rows="8" placeholder="Nội dung mail">
                            
                        </textarea>
                    </div>
                    <div class="form-group">
                        <div class="btn btn-default btn-file">
                            <i class="fas fa-paperclip"></i> File đính kèm
                            <input type="file" name="Attachments" id="Attachments" disabled>
                        </div>
                        <p class="help-block"></p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Đóng</button>
                        <button type="submit" class="btn btn-primary"><i class="far fa-envelope"></i> Send</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    //document.mailForm.submit();
</script>

