@{
    ViewData["Title"] = "UploadFileGG";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<form asp-controller="GoogleAPI" asp-action="UploadFileGG" method="post" enctype="multipart/form-data">
    <div class="row" style="margin-top:10px;margin-bottom:10px;">
        <div class="col-md-2"><label for="file">Upload file on drive:</label></div>
        <div class="col-md-10">
            <input type="file" name="fileUpload" id="fileUpload" />
        </div>
        <div class="col-md-2">
            <br />
            <input type="submit" class="btn btn-success" value="Upload" />
        </div>
    </div>
    <div class="row">
        <h2>@ViewBag.Msg</h2>
    </div>  
</form>

