@model WebTools.Models.RolesViewModel

@{
    ViewData["Title"] = "CreateRoles";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>CreateRoles</h1>

<h4>Roles</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="CreateRoles">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group" hidden>
                <label asp-for="Roles.RoleID" class="control-label"></label>
                <input asp-for="Roles.RoleID" class="form-control" />
                <span asp-validation-for="Roles.RoleID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Roles.RoleName" class="control-label"></label>
                <input asp-for="Roles.RoleName" class="form-control" />
                <span asp-validation-for="Roles.RoleName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Roles.Description" class="control-label"></label>
                <input asp-for="Roles.Description" class="form-control" />
                <span asp-validation-for="Roles.Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Roles.Status" class="control-label"></label>
                <input type="checkbox" id="Status" name="Status" checked data-bootstrap-switch data-off-color="danger" data-on-color="success" />
                <span asp-validation-for="Roles.Status" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

