@using GleamTech.AspNet.Core
@using GleamTech.DocumentUltimate.AspNet.UI
@model DocumentViewer

<!DOCTYPE html>
<html>
<head>
    <title>Document View</title>
    @this.RenderHead(Model)
</head>
<body style="margin: 20px;">
    <div class="modal fade bd-example-modal-xl" tabindex="-1" role="dialog" aria-labelledby="myExtraLargeModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-xl">
            <div class="modal-content">
                @this.RenderBody(Model)
            </div>
        </div>
    </div>
</body>
</html>