@using GleamTech.AspNet.Core
@using GleamTech.DocumentUltimate.AspNet.UI
@model DocumentViewer

<!DOCTYPE html>

<html>
<head>
    <title>Document View</title>
    @this.RenderHead(Model)
</head>
<body style="margin: 20px;">
    @this.RenderBody(Model)
    @DateTime.Now.ToString("T")
</body>
</html>