@model List<WebTools.Models.Entities.BangKeChiPhi>
@{
    ViewData["Title"] = "Index";
}
<style>
    .content {
        border-style: solid;
        border-width: 1px;
        margin-left: 10px;
        margin-right: 10px;
    }
    .divbody {
        padding-left: 30px !important;
        padding-right: 30px !important;
        padding-top: 20px !important;
    }
    h2,.divbody  {
        font-family: "Times New Roman", Times, serif;
    }

    #sl {
        width: 60px;
    }

    .muc {
        font-weight: bold;
    }
    .div1 {
        width:100%;
        float:left;
        padding-top: 10px;
        padding-bottom: 5px;
    }
    
    #divTT {
        font-size: 15px;
    }

    #ipGhiChu{
        width:100%;
    }

    #ipTLTT{
        width:40px;
    }

    #ipSTTT {
        width:130px;
    }
    .lb1 {
        width:130px;
    }
    .lb2 {
        margin-right:10px;
    }
    .lbtt {
        color: #2b78e4;
        font-weight: bold !important;
        font-size: 16px;
    }
    .btn1 {
        width:140px;
        margin-left:60px;
        margin-right:60px;
    }
</style>
<div class="content">
    Thông tin chi tiết
</div>
<div class="content divbody" style="border-top:none" >
    <div class="text-center">
        <h2 id="Ten">BẢNG KÊ CHI PHÍ KHÁM CHỮA BỆNH</h2>
    </div>
    <div id="divTT">
        <div class="div1">
            <div class="col-6 float-left">
                <label class="lb1">Họ tên: </label><label class="lbtt">Bồ Đề</label>
            </div>
            <div class="col-3 float-left">
                <label class="lb2">Số biên lai:</label><label class="lbtt">123456</label>
            </div>
            <div class="col-3 float-left">
                <label class="lb1" >Đơn vị bảo lãnh: </label>
                <label>
                    <select name="donviBL" class="form-select">
                         <option value="1">Prudential</option>
                         <option value="2">Prudential 2</option>
                         <option value="-">Other</option>
                    </select>
                </label>
            </div>
 
        </div>
        <div class="div1">
            <div class="col-3 float-left">
                <label class="lb1">Mã khách hàng:</label><label class="lbtt">18006858</label>
            </div>
            <div class="col-3 float-left">
                <label class="lb2">Ngày sinh: </label><label class="lbtt">15/05/2022</label>
            </div>
            <div class="col-3 float-left">
                <label class="lb2">Giới tính: </label><label class="lbtt">Nam</label>
            </div>
            <div class="col-3 float-left">
                <label class="lb1">Khoa/Phòng: </label>
                <label >
                    <select name="kp" class="form-select">
                        <option value="1">Khoa/Phòng 1</option>
                        <option value="2">Khoa/Phòng 2</option>
                        <option value="-">Other</option>
                    </select>
                </label>
            </div>  
        </div>
        <div class ="div1">
            <div class="col-3 float-left">
                <label class="lb1">Tổng chi phí: </label><label class="lbtt">15.560.000 VNĐ</label>
            </div>
            <div class="col-3 float-left">
                <label class="lb2">BHYT chi trả: </label><label class="lbtt">1.560.000 VNĐ</label>
            </div>
            <div class="col-3 float-left">
                <label ></label>
            </div>
            <div class="col-3 float-left">
                <label class="lb1" style="font-weight: bold">BHTN thanh toán: </label><label class="lbtt">3.560.000 VNĐ</label>
            </div>

        </div>
        <div class="div1">
            <div class="col-12 float-left">
                <label class="lb1 float-left">Ghi chú</label>
                <input type="text" class="col-10 float-left" id="ipGhiChu" />
            </div>
            
        </div>
        <div class="div1 ">
            <div class="col-3 float-left">
                <label class="lb1">Vào viện lúc: </label><label class="lbtt">09:55 15/05/2022</label>
            </div>
            <div class="col-3 float-left">
                <input type="checkbox" />
                <label class="lb2" style="font-weight: bold">Tỷ lệ thanh toán</label>
                <input type="number" value="30" id="ipTLTT" /><label> %</label>
            </div>
            <div class="col-3 float-left">
                <input type="checkbox" />
                <label class="lb2" style="font-weight: bold">Số tiền thanh toán</label>
                <input type="number" value="7000000" id="ipSTTT" />
            </div>
            <div class="col-3 float-left">
                <button type="button" class="btn btn-success" style="margin-right:40px">Áp dụng</button>
                <button type="button" class="btn btn-success">Xử lý dữ liệu</button>
            </div>
        </div>
        <div class="div1">
            <div class="col-12 float-left">
                <label class="lb1">Các Khoa/Phòng: </label>
                <label class="lbtt">Khoa phụ sản, Phòng cấp cứu sản</label>
            </div>
            
        </div>
        <div class="div1">
            <div class="col-12 float-left">
                <label class="lb1">Chẩn đoán: </label><label class="lbtt">Mổ lấy thai cấp cứu</label>
            </div>
            
        </div>
    </div>
    <div>
        <table class="table table-bordered table-striped dataTable dtr-inline" role="grid" width="100%" id="tableBangKe1">
            <thead style="background-color:hsl(0, 0%, 77%)">
                <tr>
                    <th class="text-center noOrder"><input type="checkbox" class="selectAll" id="selectAll" name="selectAll" value="all"></th>
                    <th>STT</th>
                    <th style="width:300px">Nội dung</th>
                    <th>Đơn vị</th>
                    <th>Đơn giá</th>
                    <th>Số lượng</th>
                    <th style="width:60px">Số lượng TT</th>
                    <th>Thành tiền</th>
                    
                    <th>BHYT tri trả</th>
                    <th>BHTN thanh toán</th>
                    <th>KH tri trả</th>
                </tr>
            </thead>
        </table>
    </div>
    <div class="div1 text-center ">
        <button type="button" class="btn btn-success btn1">Lưu</button>
        <button type="button" class="btn btn-success btn1">Bảng kê BHTN</button>
        <button type="button" class="btn btn-success btn1">Bảng kê viện phí</button>
    </div>
    <div class="div1 text-center">
        <button type="button" class="btn btn-danger btn1">Đóng</button>
        <button type="button" class="btn btn-success btn1">Xuất Excel BKBH</button>
        <button type="button" class="btn btn-success btn1">Xuất Excel BKVP</button>
    </div>
</div>

@section scripts{
    <script type="text/javascript">
        
        $(function () {
            
            $('#tableBangKe1').DataTable({
                
                "ajax": {
                    url: '/BangKeChiPhi/GetBangKeChiPhi1?id=@ViewBag.id',
                    type: 'Get',
                    datatype: 'json',    
                },
                
                columnDefs: [
                    
                    //{ visible: false, targets: [0] },
                ],
                searching: false,
                ordering: false,
                scrollY: '400px',
                scrollCollapse: true,
                paging: false,
                //"order": [[10, 'asc']],
                "columns": [
                    {
                        data:'id',
                        render: function (data) {
                            if (data == null) {
                                return "";
                            }
                            else {
                                return "<td><input type='checkbox' class='select elementSelect' id='select' name='select' value=''></td>";
                            }

                        }

                    },
                    {
                        data:'stt',
                    },
                    {
                        data: 'ten',
                        
                        
                    },
                    {
                        data: 'dvt',
                    },
                    {
                        data: 'dongia',
                    },
                    {
                        data: 'soluong',
                    },
                    {
                        data: 'id',
                        render: function (data) {
                            if(data==null)
                            {
                                return "";
                            }
                            else{
                                return "<td> <input type='number'id='sl'> </td>";
                            }
                            
                        }
                    },
                    {
                        data: 'thanhtien',
                        
                        
                    },
                    {
                        data: 'bhyttra',
                    },
                    {
                        data: 'bhtn',
                    },
                    {
                        data: 'bntra',
                    },
                ],
                
                });
            $('.selectAll').on("click", function (e) {
                
                if ($(this).is(":checked")) {
                    $('.elementSelect').prop("checked", true);
                } else {
                    $('.elementSelect').prop("checked", false);
                }
            });
            $('.elementSelect').on("click", function (e) {
                debugger
                if (!$(this).is(":checked")) {
                    $('.selectAll').prop("checked", false);
                } 
            });
        });
    </script>
}

