
@{
    ViewData["Title"] = "UploadFileGG";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>UploadFileGG</h1>

<form asp-controller="Home" asp-action="UploadFileGG" method="post" enctype="multipart/form-data">
    <div class="form-group">
        <label for="exampleFormControlFile1">Example file input</label>
        <input type="file" class="form-control-file" id="file" name="file">
    </div>
    <button type="submit" class="btn btn-success">Upload</button>
    @ViewBag.Success
</form>

