@{
    ViewData["Title"] = "KhachHangThanhToanBHTN";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    .dataTables_filter {
        display: none;
    }

    .dataTable > thead {
        background-color: #3882b6;
        color: #fff;
    }

    .filters {
        background-color: snow;
    }

    .middle {
        vertical-align: middle;
    }
</style>
<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-12 text-center">
                <h3>Danh sách khách hàng thanh toán Bảo hiểm tự nguyện</h3>
            </div>
        </div>
    </div><!-- /.container-fluid -->
</section>
<section class="content">
    <div class="container-fluid">
        <div class="card">
            <div class="card-header">
                <div class="row">
                    <div class="col-5 pr-5">
                        <div class="form-group row">
                            <label class="col-form-label col-auto font-weight-bold">Họ và tên/ Mã KH:</label>
                            <div class="col">
                                <input type="text" class="form-control" id="mabn" name="tenbn" />
                            </div>
                            <div class="col-4">
                                <select class="custom-select" id="loai" name="loai">
                                    <option value="" selected disabled>Chọn</option>
                                    <option value="1">Thanh toán</option>
                                    <option value="2">Hiện diện</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="col-5">
                        <div class="form-group row">
                            <label class="col-form-label col-auto font-weight-bold">Ngày thanh toán:</label>
                            <label for="ngayBD" class="col-form-label col-auto">Bắt đầu</label>
                            <div class="col">
                                <input type="text" class="form-control datetimepicker-input SearchDate" data-toggle="datetimepicker" data-target="#ngayBD" id="ngayBD" name="ngayBD" autocomplete="off" />
                            </div>
                            <label for="ngayKT" class="col-form-label col-auto">Kết thúc</label>
                            <div class="col">
                                <input type="text" class="form-control datetimepicker-input SearchDate" data-toggle="datetimepicker" data-target="#ngayKT" id="ngayKT" name="ngayKT" autocomplete="off" />
                            </div>
                        </div>
                    </div>
                    <div class="col pl-2">
                        <button class="btn btn-success" id="btnSearch">Tìm kiếm</button>
                    </div>
                    <div class="col">
                        <button class="btn btn-success" id="btnChon">Chọn BN</button>
                    </div>
                </div>
            </div>
            <!-- /.card-header -->
            <div class="card-body">
                <table class="table table-bordered table-striped dataTable dtr-inline" role="grid" width="100%" id="tableKhachHangBHTN">
                    <thead>
                        <tr>
                            <th class="text-center w-auto"></th>
                            <th class="text-nowrap w-auto">STT</th>
                            <th class="text-nowrap w-auto">Mã KH</th>
                            <th class="text-nowrap w-auto">Họ và tên</th>
                            <th class="text-nowrap w-auto">Ngày vào viện</th>
                            <th class="text-nowrap w-auto">Ngày thanh toán</th>
                            <th class="text-nowrap w-auto">Số biên lai</th>
                            <th class="text-nowrap w-auto">Loại vào viện</th>
                            <th class="text-nowrap w-auto"></th>
                        </tr>
                    </thead>
                </table>
            </div>
            <!-- /.card-body -->
        </div>
    </div>
</section>
<div id="ReportPopup"></div>

@section Scripts{
    <script type="text/javascript">
        $(function () {
            $('#ngayBD').datetimepicker({ format: 'DD/MM/YYYY', locale: 'vi' });
            $('#ngayKT').datetimepicker({ format: 'DD/MM/YYYY', locale: 'vi' });
        });

        $(function () {
            var loai = $("#loai").val() || "";
            var columnData = [
                {
                    "data": "id",
                },
                { "data": "stt" },
                {
                    "data": "mabn",
                    "class": "text-center"
                },
                { "data": "hoten" },
                {
                    "data": { ngayvao: "ngayvao",},
                    "render": function (data, row) {
                        return FormatDatetime(data.ngayvao,"2");
                    },
                    "class": "text-center"
                },
                {
                    "data": { ngaythutien: "ngaythutien", },
                    "render": function (data, row) {
                        return FormatDatetime(data.ngaythutien,"2");
                    },
                    "class": "text-center"
                },
                {
                    "data": "sobienlai",
                    "class": "text-center"
                },
                {
                    "data": "loainv",
                    "class": "text-center"
                },
                {
                    "data": { id: "id", stt: "stt", loaiGD: "loaiGD" },
                    "render": function (data, row) {
                        return '<a class="btn btn-link btn-sm" data-toggle="ajax-modal" data-target="#phieuthanhtoan-' + data.id + '" data-url="/BangKeChiPhi/PhieuThanhToan?id=' + data.id + '&loai=' + data.loaiGD + '"> Chi tiết </a>';
                    },
                    "class": "text-nowrap text-center"
                },
            ]

            $('#btnSearch').on('click', function () {
                var loai = $("#loai").val() || "";
                var mabn = ((document.getElementById("mabn") || {}).value) || "";
                var ngayBD = ((document.getElementById("ngayBD") || {}).value) || "";
                var ngayKT = ((document.getElementById("ngayKT") || {}).value) || "";

                if (mabn === "") {
                    $('#btnSearch').callToast("info", "Thông báo", "Xin nhập Họ và tên/Mã KH trước khi tìm kiếm");
                }
                else {
                    var searchTerm = "mabn=" + encodeURIComponent($.trim(mabn));
                    if (loai === "1") {
                        searchTerm += "&loai=" + loai;
                        if (ngayBD === "" || ngayKT === "") {
                            $('#btnSearch').callToast("info", "Thông báo", "Xin nhập Ngày bắt đầu và Ngày kết thúc trước khi tìm kiếm");
                        }
                        else {
                            searchTerm += "&ngayBD=" + ngayBD + "&ngayKT=" + ngayKT;
                            searchDataTableWithInput("#tableKhachHangBHTN", columnData, "/BaoHiemTuNguyen/SearchKhanhHangThanhToanBHTN?" + searchTerm, 10, "1,8");
                        }
                    }
                    else if (loai === "2") {
                        searchTerm += "&loai=" + loai;
                        searchDataTableWithInput("#tableKhachHangBHTN", columnData, "/BaoHiemTuNguyen/SearchKhanhHangThanhToanBHTN?" + searchTerm, 10, "1,8");                       
                    }
                    else {
                        $('#btnSearch').callToast("info", "Thông báo", "Xin chọn trạng thái trước khi tìm kiếm");
                    }                   
                }
            });

            $('#btnChon').on('click', function (e) {
                var table = $("#tableKhachHangBHTN").DataTable();
                var rows_selected = table.column(0).checkboxes.selected();
                var array = [];
                // Iterate over all selected checkboxes
                $.each(rows_selected, function (index, rowId) {
                    // Create a hidden element 
                    array.push(table.cell(index, 2).data());
                });
                alert("Các mã bệnh nhân đã chọn: " + array);
                // Prevent actual form submission
                e.preventDefault();
            });
        })
        $(document).ready(function () {
            
            $('body').on('click', 'a[data-toggle="ajax-modal"]', function (event) {
                var url = $(this).data('url');
                $(this).callModal(url);
            });
            $('body').on('click', 'button[data-toggle="ajax-modal"]', function (event) {
                var url = $(this).data('url');
                $(this).callModal(url);
            });
        });
    </script>
}
