
@{
    ViewData["Title"] = "KhachHangThanhToanBHTN";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    .dataTables_filter {
        display: none;
    }
    .dataTable > thead {
        background-color: #3882b6;
        color: #fff;
    }
    .filters{
        background-color: snow;
    }
</style>
<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-12 text-center">
                <h3>Danh sách khách hàng thanh toán Bảo hiểm tự nguyện</h3>
            </div>
        </div>
    </div><!-- /.container-fluid -->
</section>
<section class="content">
    <div class="container-fluid">
        <div class="card">
            <div class="card-header">
                <div class="row">
                    <div class="col-5 pr-5">
                        <div class="form-group row">
                            <label class="col-form-label col-auto font-weight-bold">Họ và tên/ Mã KH:</label>
                            <div class="col">
                                <input type="text" class="form-control" id="mabn" name="tenbn" />
                            </div>
                            <div class="col-4">
                                <select class="custom-select" id="loai" name="loai">
                                    <option value="" selected disabled>Chọn</option>
                                    <option value="1">Thanh toán</option>
                                    <option value="2">Hiện diện</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="col-5">
                        <div class="form-group row">
                            <label class="col-form-label col-auto font-weight-bold">Ngày thanh toán:</label>
                            <label for="ngayBD" class="col-form-label col-auto">Bắt đầu</label>
                            <div class="col">
                                <input type="text" class="form-control datetimepicker-input SearchDate" data-toggle="datetimepicker" data-target="#ngayBD" id="ngayBD" name="ngayBD" autocomplete="off" />
                            </div>
                            <label for="ngayKT" class="col-form-label col-auto">Kết thúc</label>
                            <div class="col">
                                <input type="text" class="form-control datetimepicker-input SearchDate" data-toggle="datetimepicker" data-target="#ngayKT" id="ngayKT" name="ngayKT" autocomplete="off" />
                            </div>
                        </div>
                    </div>
                    <div class="col pl-5">
                        <button class="btn btn-success" id="btnSearch">Tìm kiếm</button>
                    </div>
                </div>
            </div>
            <!-- /.card-header -->
            <div class="card-body">
                <table class="table table-bordered table-striped dataTable dtr-inline" role="grid" width="100%" id="tableKhachHangBHTN">
                    <thead>
                        <tr>
                            <th>STT</th>
                            <th>Mã KH</th>
                            <th>Họ và tên</th>
                            <th>Ngày vào viện</th>
                            <th>Ngày thanh toán</th>
                            <th>Số biên lai</th>
                            <th>Loại vào viện</th>
                            <th></th>
                        </tr>
                    </thead>
                </table>
            </div>
            <!-- /.card-body -->
        </div>
    </div>
</section>


@section Scripts{
    <script type="text/javascript">
        $(function () {
            $('#ngayBD').datetimepicker({ format: 'DD/MM/YYYY', locale: 'vi' });
            $('#ngayKT').datetimepicker({ format: 'DD/MM/YYYY', locale: 'vi' });
        });
        $(function () {
            var columnData = [
                { "data": "stt" },
                { "data": "mabn" },
                { "data": "hoten" },
                { "data": "ngayvao" },
                { "data": "ngaythutien" },
                { "data": "sobienlai" },
                { "data": "loainv" },
                {
                    "data": { mabn: "mabn", stt: "stt" },
                    "render": function (data, row) {
                        return "<a>Chi tiết</a>";
                    }
                },
            ]

            $('#btnSearch').on('click', function () {
                var loai = $("#loai").val() || "";
                var mabn = ((document.getElementById("mabn") || {}).value) || "";
                var ngayBD = ((document.getElementById("ngayBD") || {}).value) || "";
                var ngayKT = ((document.getElementById("ngayKT") || {}).value) || "";

                if (mabn === "") {
                    $('#btnSearch').callToast("info", "Thông báo", "Xin nhập Họ và tên/Mã KH trước khi tìm kiếm");
                }
                else {
                    var searchTerm = "mabn=" + encodeURIComponent($.trim(mabn));
                    if (loai === "1") {
                        searchTerm += "&loai=" + loai;
                        if (ngayBD === "" || ngayKT === "") {
                            $('#btnSearch').callToast("info", "Thông báo", "Xin nhập Ngày bắt đầu và Ngày kết thúc trước khi tìm kiếm");
                        }
                        else {
                            searchTerm += "&ngayBD=" + ngayBD + "&ngayKT=" + ngayKT;
                            searchDataTableWithInput("#tableKhachHangBHTN", columnData, "/BaoHiemTuNguyen/SearchKhanhHangThanhToanBHTN?" + searchTerm, 10, "7");
                        }
                    }
                    else if (loai === "2") {
                        searchTerm += "&loai=" + loai;
                        searchDataTableWithInput("#tableKhachHangBHTN", columnData, "/BaoHiemTuNguyen/SearchKhanhHangThanhToanBHTN?" + searchTerm, 10, "7");
                    }
                    else {
                        $('#btnSearch').callToast("info", "Thông báo", "Xin chọn trạng thái trước khi tìm kiếm");
                    }                    
                }
            });
        })
    </script>
}
