/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */
.custom-file-label { height: calc(2rem + 2px);}
.custom-file-input { height: calc(2rem + 2px);}
.custom-select { height: calc(2rem + 2px);}
.select2-container--default .select2-selection--multiple {
    min-height: calc(2rem + 2px);
}

.bootstrap-datetimepicker-widget.dropdown-menu {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    width: 260px;
}

.card-primary:not(.card-outline) > .card-header {
    background-color: #1b6ec2;
}

a.navbar-brand {
    white-space: normal;
    text-align: center;
    word-break: break-all;
}

tr #odd{}
/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
  font-size:14px;
  line-height: 1.2;
}
.content-header h1 {
    font-family: 'Times New Roman', Times, serif;
    font-size:30px;
    font-weight: bold;
}

.form-control {
    font-size: 14px;
    line-height: 1.2;
    height: calc(2rem + 2px);
}
.custom-select{
    font-size:inherit;
}
.modal-header{
    padding:6px;
}
.btn {
    font-size: 14px;
}
#background-page {
    background: url(../WPP.jpg) no-repeat center center fixed;
    background-size: cover;
    position: fixed;
    z-index: 100;
    left: 0;
    top: 0;
    bottom: 0;
    width: 100%;
}
.nav-item:hover {
    background-color: #3882b6;
    align-items: center;
}
.navbar {
    background-color: #3882b6;
    padding: 0 0;
}
.navbar-dark .navbar-nav .nav-link{
    font-family:Arial, Helvetica, sans-serif;
    color:#fff;
    font-size:14px;
    text-align:center
}
.main-header .nav-link {
    height: auto;
}
.nav-link{
    padding-top: 16px;
    padding-bottom: 16px;
}
.nav-item:hover {
    background-color: #102da6;
}
.navbar-brand {
    border: 0;
    padding: 6px 15px;
    margin: 0;
}
.navbar-dark .navbar-brand {
    background-color: #102da6;
}
.table td, .table th {
    padding: 0.6rem;
}
.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    line-height: 60px; /* Vertically center the text there */
}
#dataTables_wrapper #dataTables_filter{
    display:none;
}
#tableReport_filter {
    display: none;
}
.table td, .table th {
    vertical-align:middle;
}
