
@{
    ViewData["Title"] = "_PhieuDAPSA";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalCenter">
    Launch demo modal
</button>

<!-- Modal -->
<div class="modal fade bd-example-modal-xl" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-xl modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header" style="background-color: #3882b6;">
                <h5 class="modal-title" id="exampleModalCenterTitle"></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true" style="color:white;">&times;&nbsp;&nbsp;</span>
                </button>
            </div>
            <div class="modal-body">
                <form id="formASDAS">
                    <h1 style="text-align:center;">THANG ĐIỂM DAPSA</h1>
                    <div class="row">
                        <label class="col-form-label col-2">Mã KH: <strong>18009858</strong></label>
                        <label class="col-form-label col-3">Họ và tên: Nguyễn Thị A</label>
                        <label class="col-form-label col-2">Ngày sinh: 01/01/1987</label>
                        <label class="col-form-label col-2">Giới tính: Nữ</label>
                        <div class="form-group row">
                            <label for="NguoiDanhGia" class="col-form-label col-auto">Người đánh giá:</label>
                            <div class="col-auto">
                                <select class="form-control" id="NguoiDanhGia" name="NguoiDanhGia">
                                    <option>Đặng Thị Hồng Hoa</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-7">
                            <div class="row mt-3">
                                <div class="col-6">
                                    <div class="form-group row">
                                        <label for="soKhopDau" class="col-sm-auto col-form-label">1. Số khớp đau(0-68):</label>
                                        <div class="col-sm-3">
                                            <input type="number" class="form-control" id="soKhopDau">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-6">
                                    <div class="form-group row">
                                        <label for="soKhopSung" class="col-sm-auto   col-form-label">2. Số khớp sưng(0-68):</label>
                                        <div class="col-sm-3">
                                            <input type="number" class="form-control" id="soKhopSung">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row mt-3">
                                <div class="col-6">
                                    <div class="form-group row">
                                        <label for="soKhopDau" class="col-sm-auto col-form-label">3. CRP:</label>
                                        <div class="col-sm-3">
                                            <input type="number" class="form-control" id="soKhopDau">
                                        </div>
                                        <label for="soKhopDau" class="col-sm-auto col-form-label">mg/dl</label>
                                    </div>
                                </div>
                                <div class="col-6">
                                </div>
                            </div>
                            <div class="row">
                                <label class="col-sm-auto col-form-label">4. Đánh giá của bệnh nhân về hoạt động bệnh và đau:</label>
                            </div>
                            <div class="row mt-3">
                                <div class="col-form-label col-12">&minus;Trung bình bệnh khớp của bạn hoạt động như thế nào trong tuần trước?</div>
                                <div class="col-auto">
                                    <div class="radio icheck-belizehole">
                                        <input type="radio" id="benhKhopHD00" name="benhKhopHD" />
                                        <label for="benhKhopHD00">0</label>
                                    </div>
                                </div>
                                <div class="col-auto">
                                    <div class="radio icheck-belizehole">
                                        <input type="radio" id="benhKhopHD01" name="benhKhopHD" />
                                        <label for="benhKhopHD01">1</label>
                                    </div>
                                </div>
                                <div class="col-auto">
                                    <div class="radio icheck-belizehole">
                                        <input type="radio" id="benhKhopHD02" name="benhKhopHD" />
                                        <label for="benhKhopHD02">2</label>
                                    </div>
                                </div>
                                <div class="col-auto">
                                    <div class="radio icheck-belizehole">
                                        <input type="radio" id="benhKhopHD03" name="benhKhopHD" />
                                        <label for="benhKhopHD03">3</label>
                                    </div>
                                </div>
                                <div class="col-auto">
                                    <div class="radio icheck-belizehole">
                                        <input type="radio" id="benhKhopHD04" name="benhKhopHD" />
                                        <label for="benhKhopHD04">4</label>
                                    </div>
                                </div>
                                <div class="col-auto">
                                    <div class="radio icheck-belizehole">
                                        <input type="radio" id="benhKhopHD05" name="benhKhopHD" />
                                        <label for="benhKhopHD05">5</label>
                                    </div>
                                </div>
                                <div class="col-auto">
                                    <div class="radio icheck-belizehole">
                                        <input type="radio" id="benhKhopHD06" name="benhKhopHD" />
                                        <label for="benhKhopHD06">6</label>
                                    </div>
                                </div>
                                <div class="col-auto">
                                    <div class="radio icheck-belizehole">
                                        <input type="radio" id="benhKhopHD07" name="benhKhopHD" />
                                        <label for="benhKhopHD07">7</label>
                                    </div>
                                </div>
                                <div class="col-auto">
                                    <div class="radio icheck-belizehole">
                                        <input type="radio" id="benhKhopHD08" name="benhKhopHD" />
                                        <label for="benhKhopHD08">8</label>
                                    </div>
                                </div>
                                <div class="col-auto">
                                    <div class="radio icheck-belizehole">
                                        <input type="radio" id="benhKhopHD09" name="benhKhopHD" />
                                        <label for="benhKhopHD09">9</label>
                                    </div>
                                </div>
                                <div class="col-auto">
                                    <div class="radio icheck-belizehole">
                                        <input type="radio" id="benhKhopHD10" name="benhKhopHD" />
                                        <label for="benhKhopHD10">10</label>
                                    </div>
                                </div>
                            </div>
                            <div class="row mt-3">
                                <div class="col-form-label col-12">&minus;Bạn mô tả mức độ đau khớp tuần trước?</div>
                                <div class="col-auto">
                                    <div class="radio icheck-belizehole">
                                        <input type="radio" id="mucDoDauKhop00" name="mucDoDauKhop" />
                                        <label for="mucDoDauKhop00">0</label>
                                    </div>
                                </div>
                                <div class="col-auto">
                                    <div class="radio icheck-belizehole">
                                        <input type="radio" id="mucDoDauKhop01" name="mucDoDauKhop" />
                                        <label for="mucDoDauKhop01">1</label>
                                    </div>
                                </div>
                                <div class="col-auto">
                                    <div class="radio icheck-belizehole">
                                        <input type="radio" id="mucDoDauKhop02" name="mucDoDauKhop" />
                                        <label for="mucDoDauKhop02">2</label>
                                    </div>
                                </div>
                                <div class="col-auto">
                                    <div class="radio icheck-belizehole">
                                        <input type="radio" id="mucDoDauKhop03" name="mucDoDauKhop" />
                                        <label for="mucDoDauKhop03">3</label>
                                    </div>
                                </div>
                                <div class="col-auto">
                                    <div class="radio icheck-belizehole">
                                        <input type="radio" id="mucDoDauKhop04" name="mucDoDauKhop" />
                                        <label for="mucDoDauKhop04">4</label>
                                    </div>
                                </div>
                                <div class="col-auto">
                                    <div class="radio icheck-belizehole">
                                        <input type="radio" id="mucDoDauKhop05" name="mucDoDauKhop" />
                                        <label for="mucDoDauKhop05">5</label>
                                    </div>
                                </div>
                                <div class="col-auto">
                                    <div class="radio icheck-belizehole">
                                        <input type="radio" id="mucDoDauKhop06" name="mucDoDauKhop" />
                                        <label for="mucDoDauKhop06">6</label>
                                    </div>
                                </div>
                                <div class="col-auto">
                                    <div class="radio icheck-belizehole">
                                        <input type="radio" id="mucDoDauKhop07" name="mucDoDauKhop" />
                                        <label for="mucDoDauKhop07">7</label>
                                    </div>
                                </div>
                                <div class="col-auto">
                                    <div class="radio icheck-belizehole">
                                        <input type="radio" id="mucDoDauKhop08" name="mucDoDauKhop" />
                                        <label for="mucDoDauKhop08">8</label>
                                    </div>
                                </div>
                                <div class="col-auto">
                                    <div class="radio icheck-belizehole">
                                        <input type="radio" id="mucDoDauKhop09" name="mucDoDauKhop" />
                                        <label for="mucDoDauKhop09">9</label>
                                    </div>
                                </div>
                                <div class="col-auto">
                                    <div class="radio icheck-belizehole">
                                        <input type="radio" id="mucDoDauKhop10" name="mucDoDauKhop" />
                                        <label for="mucDoDauKhop10">10</label>
                                    </div>
                                </div>
                            </div>
                            <div class="row mt-3">
                                <div class="col-8">
                                    <div class="form-group row">
                                        <div class="col-auto">
                                            <button type="button" class="btn btn-success">Đánh giá</button>
                                        </div>
                                        <label for="soKhopDau" class="col-sm-auto col-form-label">Kết luận</label>
                                        <label for="soKhopDau" class="col-sm-auto col-form-label">DAPSA = </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-5">
                            <div class="row">
                                <div class="col-6 m-0 p-0" style="border-right: 1px solid black;">
                                    <p style="text-align: center; margin-bottom: 8px;"><strong>Tender Joints</strong></p>
                                    <img src="/images/DAPSA-000.jpg" style="max-width:100%; max-height:100%" />
                                </div>
                                <div class="col-6 m-0 p-0" style="border-left: 1px solid white;">
                                    <p style="text-align:center; margin-bottom:8px;"><strong>Swollen Joints</strong></p>
                                    <img src="/images/DAPSA-000.jpg" style="max-width:100%; max-height:100%" />
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button class="btn btn-info" type="submit">Lưu</button>
                        <button type="button" class="btn btn-danger" data-dismiss="modal">Đóng</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
@section Scripts{

}
